/*  your css code here. If applicable */
*{
	background:skyblue;
}
p:nth-child(2){
	background-color:black;
	color:white;
}
p:nth-child(5){
	color:red;
}
li:first-child{
	background-color:rgb(255,255,255);
	color:rgb(0,0,0);
	font-size:20px;
	width:50%;
}
li:nth-child(2n){
	background-color: #708090;
	width:50%;
}
li:nth-child(3){
	background-color: pink;
	width:50%;
}
li:last-child{
	background-color:rgb(255,255,255);
	color:rgb(0,0,0);
	font-size:20px;
	width:50%;
}
/* .last-para{
	color:red;
}
.first-item{
	background-color:white;
	font-size:20px;
	width:50%;
}
.second-item{
	background-color: #708090;
	width:50%;
}
.third-item{
	background-color: pink;
	width:50%;
}
.fourth-item{
	background-color: #708090;
	width:50%;
}
.fifth-item{
	background-color:white;
	font-size:20px;
	width:50%;
} */